# URL del proyecto Supabase (Project Settings -> API)
SUPABASE_URL=https://hvcnqqluazwucewvkdky.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2Y25xcWx1YXp3dWNld3ZrZGt5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODI0ODQzMSwiZXhwIjoyMDkzODI0NDMxfQ.NnS_nUrKoSG_UAZ-rRe102SLn-szLIdsaBOf3P01ySM
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2Y25xcWx1YXp3dWNld3ZrZGt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNDg0MzEsImV4cCI6MjA5MzgyNDQzMX0.qZwhgavlDpsq9sZNCE75kkD7Nk8YE0rcMOVZmjoNbhU
SUPABASE_JWT_SECRET=Tg2txB9NIWcu3mEbcayh97iqCNO3QycEH9CVoN6pD9oCtBTexGe/ZjMFvUegG45p4kBHhoN8uvZuoGaQTWSqkQ==
CONCIERTO_ACCESS_CODE=FANMEET2026
PORT=4000
CORS_ORIGIN=http://localhost:5173
LASTFM_API_KEY=fecb8cf180b46ed29a847ed8c19f11ad
SPOTIFY_CLIENT_ID=4ed8aa17199349b3a7f2d739c882ce3e
SPOTIFY_CLIENT_SECRET=6227a444777b4a5294d22df913f3e00d
