.mapaGrupo {
   margin-top: 30px;
}

.mapaGrupo h3 {
   font-size: 22px;
   margin-bottom: 16px;
   color: #222;
}

.mapaFake {
   width: 100%;
   height: 250px;

   border-radius: 20px;

   display: flex;
   justify-content: center;
   align-items: center;

   background-color: #f2f2f2;

   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

   overflow: hidden;
}

.mapaFake p {
   font-size: 18px;
   font-weight: 500;
   color: #444;
   text-align: center;
   padding: 20px;
}