.headerMisGrupos {
  background: #f4f4f4;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 18px 20px;

  border-bottom: 1px solid #e6e6e6;
}

.btnVolver {
  border: none;
  background: none;
  cursor: pointer;

  font-size: 24px;
  color: #7b2ff7;
}

.headerMisGrupos h2 {
  margin: 0;

  font-size: 34px;
  font-weight: 700;

  color: #222;
}